Source: pcscada
Section: libs
Priority: optional
Maintainer: Reto Buerki <reet@codelabs.ch>
Build-Depends: debhelper (>= 8), gnat-4.6, libahven3-dev, libpcsclite-dev (>= 1.4.0)
Standards-Version: 3.9.2
Homepage: http://www.nongnu.org/pcscada/
Vcs-Browser: http://git.savannah.nongnu.org/gitweb/?p=pcscada.git
Vcs-Git: git://git.savannah.nongnu.org/pcscada.git

Package: libpcscada0.7
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Ada bindings to PC/SC middleware
 PCSC/Ada provides thin- and thick-bindings to PC/SC-middleware for the Ada
 programming language. The library allows applications written in Ada to
 communicate with smart cards using the SCard API.

Package: libpcscada2-dev
Section: libdevel
Architecture: any
Depends: ${misc:Depends}, libpcscada0.7 (= ${binary:Version}), libpcsclite-dev (>= 1.4.0), gnat-4.6
Description: Ada bindings to PC/SC middleware (development)
 PCSC/Ada provides thin- and thick-bindings to PC/SC-middleware for the Ada
 programming language. The library allows applications written in Ada to
 communicate with smart cards using the SCard API.
 .
 This package contains the development files.

Package: pcscada-dbg
Section: debug
Priority: extra
Architecture: any
Depends: ${misc:Depends}, libpcscada0.7 (= ${binary:Version}), libpcscada2-dev (= ${binary:Version})
Description: Ada bindings to PC/SC middleware (debug)
 PCSC/Ada provides thin- and thick-bindings to PC/SC-middleware for the Ada
 programming language. The library allows applications written in Ada to
 communicate with smart cards using the SCard API.
 .
 This package contains the debugging symbols.
