#!/usr/bin/make -f

%:
	dh ${@}

override_dh_auto_install:
	dh_auto_install -- PREFIX=$(CURDIR)/debian/tmp/usr install
	cp debian/addon/*.gpr debian/tmp/usr/share/ada/adainclude

override_dh_auto_clean:
	$(MAKE) clean

override_dh_auto_test:
	$(MAKE) utests

override_dh_install:
	dh_install --fail-missing

override_dh_compress:
	dh_compress -X.ads -X.adb -XMakefile

override_dh_strip:
	dh_strip --dbg-package=pcscada-dbg
